/* Links */
a{
    color: dodgerblue;
}

a:focus,
a:hover {
  color: #ffffff;
}
/*
 * Base structure
 */

html,
body {
  height: 100%;
  background-color: #0b2732;
}
body {
  color: #ffffff;
  text-align: center;
}

.header{
    padding-top: 40px;
    background: url(../img/header-background.jpg) no-repeat 0 57px;
}

.header-message{
    padding-top: 25px;
}

.footer-message{
    padding-top: 25px;
    font-family: 'Space Mono', monospace;
}

.montserrat{
    font-family: 'Montserrat', sans-serif;
}

.space_mono{
    font-family: 'Space Mono', monospace;
    font-size: 0.9rem;
}

.info{
    padding-top: 30px;
}

.card{
    margin-top: 15px;
}

.card-text{
    color: #000000;
}

a.git:hover{
    color: dodgerblue;
}

a.git{
    color: chocolate;
}
